@model IEnumerable<Curso>

@{
    ViewData["Title"] = "Información Curso";
}
<h1>@ViewData["Title"]</h1>

@if (ViewBag.mensaje != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.mensaje
    </div>
}

<partial name = "EscuelaBaseMultiple">


<p><i>@ViewBag.FechaActual</i></p>
